backend/statemachine/order_workflow.asl.json
{
  "Comment": "A state machine that handles the order purchasing workflow",
  "StartAt": "Get Cart Items",
  "States": {
    "Get Cart Items": {
      "Type": "Task",
      "Resource": "${GetUserCartFunctionArn}",
      "Next": "Check Listing Quantity",
      "Catch": [
        {
          "ErrorEquals": [
            "MissingParameterError"
          ],
          "Next": "ErrorHandler"
        }
      ]
    },
    "Check Listing Quantity": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${CheckQuantityFunctionArn}",
      "Next": "Check Payment Detail",
      "Catch": [
        {
          "ErrorEquals": [
            "EmptyShoppingCartError",
            "PurchaseQuantityExceededError"
          ],
          "Next": "ErrorHandler"
        }
      ]
    },
    "Check Payment Detail": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${CheckPaymentFunctionArn}",
      "Next": "Send Task Token",
      "Catch": [
        {
          "ErrorEquals": [
            "EmptyShoppingCartError",
            "PurchaseQuantityExceededError"
          ],
          "Next": "ErrorHandler"
        }
      ]
    },
    "Send Task Token": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${SNSSendTokenFunctionArn}",
      "Next": "Simulate Payment"
    },
    "Simulate Payment": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${PaymentSimulationFunctionArn}",
      "Next": "Payment Approved?"
    },
    "Payment Approved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.payment_status",
          "StringMatches": "Approved",
          "Next": "Create Order"
        }
      ],
      "Default": "Payment Fail"
    },
    "Payment Fail": {
      "Type": "Task",
      "Resource": "${PaymentFailErrorFunctionArn}",
      "Catch": [
        {
          "ErrorEquals": [
            "PaymentFailureError"
          ],
          "Next": "ErrorHandler"
        }
      ],
      "Next": "ErrorHandler"
    },
    "Create Order": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${CreateOrderFunctionArn}",
      "Next": "Empty Shopping Cart"
    },
    "Empty Shopping Cart": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${ClearShoppingCartFunctionArn}",
      "Next": "Checkout Success"
    },
    "ErrorHandler": {
      "Type": "Task",
      "Resource": "${StepFunctionErrorHandlerFunctionArn}",
      "Next": "Send Error Prompt"
    },
    "Send Error Prompt": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${SQSThrowErrorFunctionArn}",
      "End": true
    },
    "Checkout Success": {
      "Type": "Succeed"
    }
  }
}