backend/statemachine/order_workflow.asl.json
{
  "Comment": "A state machine that handles the order purchasing workflow",
  "StartAt": "Get Cart Items",
  "States": {
    "Get Cart Items": {
      "Type": "Task",
      "Resource": "${GetUserCartFunctionArn}",
      "Next": "Check Payment Detail",
      "Catch": [
        {
          "ErrorEquals": [
            "MissingParameterError",
            "EmptyShoppingCartError",
            "PurchaseQuantityExceededError",
            "ErrorWrapper"
          ],
          "Next": "ErrorHandler"
        }
      ]
    },
    "Check Payment Detail": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${CheckPaymentFunctionArn}",
      "Next": "Valid Payment?",
      "Catch": [
        {
          "ErrorEquals": [
            "EmptyShoppingCartError",
            "PurchaseQuantityExceededError"
          ],
          "Next": "ErrorHandler"
        }
      ]
    },
    "Valid Payment?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.ValidPayment",
          "BooleanEquals": true,
          "Next": "Send Payment OK"
        }
      ],
      "Default": "Parallel Wait Token"
    },
    "Send Payment OK": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${SNSSendTokenFunctionArn}",
      "Next": "Simulate Payment"
    },
    "Parallel Wait Token": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Wait for Task Token",
          "States": {
            "Wait for Task Token": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "HeartbeatSeconds": 297,
              "Parameters": {
                "Payload": {
                  "input.$": "$",
                  "taskToken.$": "$$.Task.Token"
                },
                "FunctionName": "${SNSWaitForTokenFunctionName}"
              },
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Pass State"
                }
              ],
              "End": true
            },
            "Pass State": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "Pass Input",
          "States": {
            "Pass Input": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.results",
      "Next": "Update Payment ID"
    },
    "Update Payment ID": {
      "Type": "Task",
      "InputPath": "$.results",
      "Resource": "${AppendSNSTokenFunctionArn}",
      "Next": "Simulate Payment"
    },
    "Simulate Payment": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${PaymentSimulationFunctionArn}",
      "Catch": [
        {
          "ErrorEquals": [
            "ErrorWrapper"
          ],
          "Next": "ErrorHandler"
        }
      ],
      "Next": "Payment Approved?"
    },
    "Payment Approved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.payment_status",
          "StringMatches": "Approved",
          "Next": "Create Order"
        }
      ],
      "Default": "Payment Fail"
    },
    "Payment Fail": {
      "Type": "Task",
      "InputPath": "$.body",
      "Resource": "${PaymentFailErrorFunctionArn}",
      "Catch": [
        {
          "ErrorEquals": [
            "ErrorWrapper"
          ],
          "Next": "ErrorHandler"
        }
      ],
      "Next": "ErrorHandler"
    },
    "Create Order": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${CreateOrderFunctionArn}",
      "Next": "Empty Shopping Cart"
    },
    "Empty Shopping Cart": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${ClearShoppingCartFunctionArn}",
      "Next": "Send Emails",
      "ResultPath": "$.body"
    },
    "Send Emails": {
      "Type": "Task",
      "InputPath": "$.body",
      "Next": "Checkout Success",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "Input": {
          "body.$": "$.body"
        },
        "StateMachineArn": "${EmailStateMachineArn}"
      }
    },
    "ErrorHandler": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "${StepFunctionErrorHandlerFunctionArn}",
      "End": true
    },
    "Checkout Success": {
      "Type": "Succeed"
    }
  }
}